.mapCell {
	position: relative;
}

.mapTile {
	position: relative;
	z-index: 1;
	top: 0;
	left: 0;
}

.characterTile {
	position: absolute;
	z-index: 2;
	top: 0;
	left: 0;
}

#jobSummary {
	height: 210;
}

#unitSummary {
	height: 100;
}

#tileSummary {
	height: 80;
}

.dataPanel {
	padding-top: 5px;
	padding-left: 3px;
	padding-right: 3px;
	overflow-y: auto;
}

.banner {
	background-color: #FFA500;
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 20px;
	padding-left: 6px;
	margin-top: 3px;
}

.rightPanel {
	width: 100%;
	border-style: solid;
	border-width: 2px;
	border-color: #FFA500;
}

#endTurn {
	margin-top: 3px;
}

#turnSummary {
	width: 100%;
	height: 200;
}

.workerInput{
	resize: none;
}

.resourceCell {
	width: 33%
}

#currentActionsHeader {
	border-bottom-width: 2px;
	border-bottom-color: blue;
	border-bottom-style: solid;
	margin-top: 3px;
	margin-bottom: 2px;
}

#gameContainer {
	margin: 0 auto;
	width: 1200px;
}

.resourceIcon {
	width: 20px;
	height: 20px;
}

.resourceAmountShort {
	width: 40px;
	height: 20px;
}

.resourceAmountLong {
	width: 70px;
	height: 20px;
}
